In [1]:
import pandas as pd

In [2]:
LINK = "https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures"

### pipe

In [3]:
def get_table(link:str) -> pd.DataFrame:
    html_data:list[pd.DataFrame] = pd.read_html(LINK)
    return html_data[0]

In [21]:
def dropna(df:pd.DataFrame, drop_based_on:str) -> pd.DataFrame:
    return df.dropna(subset=drop_based_on).copy()

In [14]:
def drop_columns(df:pd.DataFrame, columns_to_drop:list[str]) -> pd.DataFrame:
    return df.drop(columns=columns_to_drop)

In [15]:
def extract_teams_score(df:pd.DataFrame, score_column:str) -> pd.DataFrame:
    df[['home_score', 'away_score']] = df[score_column].str.split(pat='–',expand=True).astype('float16')
    return df

In [16]:
def calculate_teams_points(home_score:float, away_score:float, calc_for_team:str='home') -> pd.DataFrame:
    if calc_for_team == 'home':
        if home_score > away_score:
            return 3
        if home_score == away_score:
            return 1
        return 0 
    if calc_for_team == 'away':
        if home_score < away_score:
            return 3
        if home_score == away_score:
            return 1
        return 0

In [17]:
def extract_teams_points(df:pd.DataFrame, home_score_column:str, away_score_columns:str, calc_for_team:str='home') -> pd.DataFrame:
    temp_series =  df[[home_score_column, away_score_columns]].apply(lambda row: calculate_teams_points(row[home_score_column], row[away_score_columns], calc_for_team), axis=1)
    df[f'{calc_for_team}_points'] = pd.DataFrame(temp_series)
    return df

In [8]:
def create_datatime(df:pd.DataFrame, date_column:str, time_column:str):
    df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])
    return df

In [22]:
pl_table = get_table(LINK)
pl_table = (
pl_table
    .pipe(dropna, 'Score')
    .pipe(extract_teams_score, 'Score')
    .pipe(extract_teams_points, 'home_score', 'away_score', 'home')
    .pipe(extract_teams_points, 'home_score', 'away_score', 'away')
    .pipe(create_datatime, 'Date', 'Time')
    .pipe(drop_columns, ['Wk', 'Day', 'Venue', 'Referee', 'Match Report', 'Notes', 'Date', 'Time'])

)

In [23]:
pl_table

,Home,xG,Score,xG.1,Away,Attendance,home_score,away_score,home_points,away_points,datetime
0,Burnley,0.3,0–3,1.9,Manchester City,21572.0,0.0,3.0,0,3,2023-08-11 20:00:00
1,Arsenal,0.8,2–1,1.2,Nott'ham Forest,59984.0,2.0,1.0,3,0,2023-08-12 12:30:00
2,Everton,2.7,0–1,1.5,Fulham,39940.0,0.0,1.0,0,3,2023-08-12 15:00:00
3,Sheffield Utd,0.5,0–1,1.9,Crystal Palace,31194.0,0.0,1.0,0,3,2023-08-12 15:00:00
4,Brighton,4.0,4–1,1.5,Luton Town,31872.0,4.0,1.0,3,0,2023-08-12 15:00:00
5,Bournemouth,1.3,1–1,1.1,West Ham,11245.0,1.0,1.0,1,1,2023-08-12 15:00:00
6,Newcastle Utd,3.3,5–1,1.8,Aston Villa,52207.0,5.0,1.0,3,0,2023-08-12 17:30:00
7,Brentford,2.2,2–2,1.3,Tottenham,17066.0,2.0,2.0,1,1,2023-08-13 14:00:00
8,Chelsea,1.4,1–1,1.3,Liverpool,40096.0,1.0,1.0,1,1,2023-08-13 16:30:00
9,Manchester Utd,2.2,1–0,2.2,Wolves,73358.0,1.0,0.0,3,0,2023-08-14 20:00:00
11,Nott'ham Forest,1.4,2–1,0.5,Sheffield Utd,29432.0,2.0,1.0,3,0,2023-08-18 19:45:00
12,Fulham,0.5,0–3,3.7,Brentford,24236.0,0.0,3.0,0,3,2023-08-19 15:00:00
13,Liverpool,3.0,3–1,1.3,Bournemouth,53145.0,3.0,1.0,3,0,2023-08-19 15:00:00
14,Wolves,2.1,1–4,2.2,Brighton,31317.0,1.0,4.0,0,3,2023-08-19 15:00:00
15,Tottenham,1.7,2–0,2.1,Manchester Utd,61910.0,2.0,0.0,3,0,2023-08-19 17:30:00
16,Manchester City,1.0,1–0,0.3,Newcastle Utd,NaN,1.0,0.0,3,0,2023-08-19 20:00:00
17,Aston Villa,2.9,4–0,0.6,Everton,41694.0,4.0,0.0,3,0,2023-08-20 14:00:00
18,West Ham,1.8,3–1,2.5,Chelsea,62451.0,3.0,1.0,3,0,2023-08-20 16:30:00
19,Crystal Palace,1.0,0–1,2.0,Arsenal,24189.0,0.0,1.0,0,3,2023-08-21 20:00:00
21,Chelsea,2.2,3–0,0.4,Luton Town,39893.0,3.0,0.0,3,0,2023-08-25 20:00:00
22,Bournemouth,0.7,0–2,2.1,Tottenham,10567.0,0.0,2.0,0,3,2023-08-26 12:30:00
23,Everton,1.3,0–1,1.1,Wolves,38851.0,0.0,1.0,0,3,2023-08-26 15:00:00
24,Brentford,1.0,1–1,0.8,Crystal Palace,16997.0,1.0,1.0,1,1,2023-08-26 15:00:00
25,Manchester Utd,2.8,3–2,1.2,Nott'ham Forest,73595.0,3.0,2.0,3,0,2023-08-26 15:00:00
26,Arsenal,3.2,2–2,0.6,Fulham,59961.0,2.0,2.0,1,1,2023-08-26 15:00:00
27,Brighton,1.5,1–3,3.0,West Ham,31508.0,1.0,3.0,0,3,2023-08-26 17:30:00
28,Sheffield Utd,0.7,1–2,3.5,Manchester City,31336.0,1.0,2.0,0,3,2023-08-27 14:00:00
29,Burnley,0.7,1–3,2.5,Aston Villa,21591.0,1.0,3.0,0,3,2023-08-27 14:00:00
30,Newcastle Utd,2.0,1–2,0.9,Liverpool,52214.0,1.0,2.0,0,3,2023-08-27 16:30:00
32,Luton Town,1.4,1–2,1.0,West Ham,10802.0,1.0,2.0,0,3,2023-09-01 20:00:00
33,Sheffield Utd,1.2,2–2,2.5,Everton,31124.0,2.0,2.0,1,1,2023-09-02 12:30:00
34,Chelsea,2.3,0–1,0.8,Nott'ham Forest,39820.0,0.0,1.0,0,3,2023-09-02 15:00:00
35,Manchester City,2.2,5–1,1.4,Fulham,52899.0,5.0,1.0,3,0,2023-09-02 15:00:00
36,Brentford,2.9,2–2,2.1,Bournemouth,16973.0,2.0,2.0,1,1,2023-09-02 15:00:00
37,Burnley,1.3,2–5,2.2,Tottenham,21750.0,2.0,5.0,0,3,2023-09-02 15:00:00
38,Brighton,1.3,3–1,1.2,Newcastle Utd,31620.0,3.0,1.0,3,0,2023-09-02 17:30:00
39,Liverpool,2.5,3–0,0.7,Aston Villa,50109.0,3.0,0.0,3,0,2023-09-03 14:00:00
40,Crystal Palace,2.1,3–2,1.2,Wolves,24741.0,3.0,2.0,3,0,2023-09-03 14:00:00
41,Arsenal,2.3,3–1,0.9,Manchester Utd,60192.0,3.0,1.0,3,0,2023-09-03 16:30:00
43,Wolves,0.6,1–3,2.5,Liverpool,31257.0,1.0,3.0,0,3,2023-09-16 12:30:00
44,Fulham,1.0,1–0,1.1,Luton Town,24467.0,1.0,0.0,3,0,2023-09-16 15:00:00
45,West Ham,0.9,1–3,3.6,Manchester City,62475.0,1.0,3.0,0,3,2023-09-16 15:00:00
46,Aston Villa,3.0,3–1,1.2,Crystal Palace,40809.0,3.0,1.0,3,0,2023-09-16 15:00:00
47,Manchester Utd,1.0,1–3,1.7,Brighton,73592.0,1.0,3.0,0,3,2023-09-16 15:00:00
48,Tottenham,2.1,2–1,0.7,Sheffield Utd,61706.0,2.0,1.0,3,0,2023-09-16 15:00:00
49,Newcastle Utd,1.4,1–0,0.5,Brentford,51670.0,1.0,0.0,3,0,2023-09-16 17:30:00
50,Bournemouth,1.0,0–0,1.8,Chelsea,10421.0,0.0,0.0,1,1,2023-09-17 14:00:00
51,Everton,0.3,0–1,1.0,Arsenal,39217.0,0.0,1.0,0,3,2023-09-17 16:30:00
52,Nott'ham Forest,0.7,1–1,0.5,Burnley,28958.0,1.0,1.0,1,1,2023-09-18 19:45:00
54,Manchester City,1.3,2–0,1.0,Nott'ham Forest,53413.0,2.0,0.0,3,0,2023-09-23 15:00:00
55,Luton Town,2.1,1–1,0.6,Wolves,10893.0,1.0,1.0,1,1,2023-09-23 15:00:00
56,Crystal Palace,0.3,0–0,0.6,Fulham,NaN,0.0,0.0,1,1,2023-09-23 15:00:00
57,Brentford,1.0,1–3,1.9,Everton,NaN,1.0,3.0,0,3,2023-09-23 17:30:00
58,Burnley,1.1,0–1,1.0,Manchester Utd,NaN,0.0,1.0,0,3,2023-09-23 20:00:00

In [66]:
def create_race_table(df:pd.DataFrame) -> pd.DataFrame:
    teams_set:set[str] = {*pl_table['Home'].unique().tolist(), *pl_table['Away'].unique().tolist(),}
    for team in teams_set:

        new_tables_list:list[pd.DataFrame] = []
        team_table:pd.DataFrame =  pl_table.query(f' Home == "{team}" or Away == "{team}" ').copy()
        match_order:pd.Series = team_table['datetime'].rank()
        points:pd.Series = team_table.apply(lambda row: row['home_points'] if row['Home'] == '{team}' else row['away_points'], axis=1)
        points_cum:pd.Series = points.cumsum()

        new_tables_list.append(
            pd.DataFrame({
            'team_nam': team,
            'match_order':match_order,
            'points': points,
            'points_cum': points_cum,
            }))

               
        return  
        print(team)

create_race_table(pl_table)

           team_nam  match_order  points  points_cum
1   Nott'ham Forest          1.0       0           0
11  Nott'ham Forest          2.0       0           0
25  Nott'ham Forest          3.0       0           0
34  Nott'ham Forest          4.0       3           3
52  Nott'ham Forest          5.0       1           4
54  Nott'ham Forest          6.0       0           4

In [36]:
arsenal_table = pl_table.query(f' Home == "Arsenal" or Away == "Arsenal" ').copy()

In [61]:
team_name = 'Arsenal'
match_order:pd.Series = arsenal_table['datetime'].rank()
points:pd.Series = arsenal_table.apply(lambda row: row['home_points'] if row['Home'] == 'Arsenal' else row['away_points'], axis=1)
points_cum:pd.Series = points.cumsum()

pd.DataFrame({
    'team_nam':'Arsenal',
    'match_order':match_order,
    'points': points,
    'points_cum': points_cum,
})

   team_nam  match_order  points  points_cum
1   Arsenal          1.0       3           3
19  Arsenal          2.0       3           6
26  Arsenal          3.0       1           7
41  Arsenal          4.0       3          10
51  Arsenal          5.0       3          13

   team_nam  match_order  points  points_cum
1   Arsenal          1.0       3           3
19  Arsenal          2.0       3           6
26  Arsenal          3.0       1           7
41  Arsenal          4.0       3          10
51  Arsenal          5.0       3          13

In [53]:
pd.concat([match_order, points]).transpose()

1     1.0
19    2.0
26    3.0
41    4.0
51    5.0
1     3.0
19    3.0
26    1.0
41    3.0
51    3.0
dtype: float64

In [ ]:
team_name = 'Arsenal'
arsenal_table['match_order'] = arsenal_table['datetime'].rank()

arsenal_table['points'] = arsenal_table.apply(lambda row: row['home_points'] if row['Home'] == 'Arsenal' else row['away_points'], axis=1)
arsenal_table['points_cum'] = arsenal_table['points'].cumsum()
arsenal_table

In [12]:
arsenal_table['team'] = 'Arsenal'
arsenal_table['match_order'] = arsenal_table['datetime'].rank()
arsenal_table['points'] = arsenal_table['home_points'] + arsenal_table['away_points']

arsenal_table['points'] = arsenal_table.apply(lambda row: row['home_points'] if row['Home'] == 'Arsenal' else row['away_points'], axis=1)
arsenal_table['points_cum'] = arsenal_table['points'].cumsum()
arsenal_table

,Home,xG,Score,xG.1,Away,Attendance,home_score,away_score,home_points,away_points,datetime,team,match_order,points,points_cum
1,Arsenal,0.8,2–1,1.2,Nott'ham Forest,59984.0,2.0,1.0,3,0,2023-08-12 12:30:00,Arsenal,1.0,3,3
19,Crystal Palace,1.0,0–1,2.0,Arsenal,24189.0,0.0,1.0,0,3,2023-08-21 20:00:00,Arsenal,2.0,3,6
26,Arsenal,3.2,2–2,0.6,Fulham,59961.0,2.0,2.0,1,1,2023-08-26 15:00:00,Arsenal,3.0,1,7
41,Arsenal,2.3,3–1,0.9,Manchester Utd,60192.0,3.0,1.0,3,0,2023-09-03 16:30:00,Arsenal,4.0,3,10
51,Everton,0.3,0–1,1.0,Arsenal,39217.0,0.0,1.0,0,3,2023-09-17 16:30:00,Arsenal,5.0,3,13
59,Arsenal,NaN,NaN,NaN,Tottenham,NaN,NaN,NaN,0,0,2023-09-24 14:00:00,Arsenal,6.0,0,13
67,Bournemouth,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,2023-09-30 15:00:00,Arsenal,7.0,0,13
87,Arsenal,NaN,NaN,NaN,Manchester City,NaN,NaN,NaN,0,0,2023-10-08 16:30:00,Arsenal,8.0,0,13
95,Chelsea,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,2023-10-21 17:30:00,Arsenal,9.0,0,13
103,Arsenal,NaN,NaN,NaN,Sheffield Utd,NaN,NaN,NaN,0,0,2023-10-28 15:00:00,Arsenal,10.0,0,13
117,Newcastle Utd,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,2023-11-04 17:30:00,Arsenal,11.0,0,13
123,Arsenal,NaN,NaN,NaN,Burnley,NaN,NaN,NaN,0,0,2023-11-11 15:00:00,Arsenal,12.0,0,13
136,Brentford,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
150,Arsenal,NaN,NaN,NaN,Wolves,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
162,Luton Town,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
168,Aston Villa,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
186,Arsenal,NaN,NaN,NaN,Brighton,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
196,Liverpool,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
205,Arsenal,NaN,NaN,NaN,West Ham,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
214,Fulham,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
221,Arsenal,NaN,NaN,NaN,Crystal Palace,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
234,Nott'ham Forest,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
247,Arsenal,NaN,NaN,NaN,Liverpool,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
260,West Ham,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
269,Burnley,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
281,Arsenal,NaN,NaN,NaN,Newcastle Utd,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
288,Sheffield Utd,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
298,Arsenal,NaN,NaN,NaN,Brentford,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
310,Arsenal,NaN,NaN,NaN,Chelsea,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
325,Manchester City,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
334,Arsenal,NaN,NaN,NaN,Luton Town,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
343,Brighton,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
361,Arsenal,NaN,NaN,NaN,Aston Villa,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
364,Wolves,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
381,Tottenham,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
386,Arsenal,NaN,NaN,NaN,Bournemouth,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
405,Manchester Utd,NaN,NaN,NaN,Arsenal,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13
411,Arsenal,NaN,NaN,NaN,Everton,NaN,NaN,NaN,0,0,NaT,Arsenal,NaN,0,13